.footer__wave {
  position: relative;
  top: 0.5rem;
}

.footer__section {
  background-color: var(--secondary);
  color: var(--primary);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.footer__copyright {
  font-size: 1.2rem;
  text-align: center;
}
